@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: "Mulish", sans-serif;
    margin: auto;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 62px;
    background: linear-gradient(#BC4400, #EC5500);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.logo img {
    width: 60px;
    padding-top: 5px;
}

.lupa img {
    width: 25px;
    padding-top: 12px;
}

a {
    font-family: "Inter", sans-serif;
    font-size: 17px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    padding-top: 15px;
}

nav {
    display: inline-block;
    display: flex;
    justify-content: space-between;
    width: 600px;
}


a:hover {
    color: #e6bfbf;
    transition: 0.3s all;
}

main img {
    width: 100%;
}

.align-start {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start {
    width: 1136px;
    height: 300px;
    border-radius: 30px;
    background: linear-gradient(#CF3605, #EE6112);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

h1 {
    font-size: 28px;
    color: white;
    font-weight: 500px;
}

.start button {
    width: 900px;
    height: 66px;
    background-color: #FEFEFE;
    border-radius: 40px;
    border: none;
    font-size: 20px;
    font-weight: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.start button h1 {
    color: #504E4E;
}

.align-tut {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tutorial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.tutorial h2,
.explore h1 {
    color: #ED4A3A;
    font-size: 38px;
}

.tutorial h1 {
    color: #808183;
    font-size: 29px;
}

.card-ing {
    width: 190px;
    height: 190px;
    border-radius: 12px;
    background-color: #DBDBDB;
    border: 2px solid #C9CFD3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.card-ing p {
    font-size: 14px;
    color: #504E4E;
    font-weight: 700;
    margin-bottom: 10px;
}

.ball {
    width: 30px;
    height: 29px;
    border-radius: 50px;
    background-color: #F1F1F1;
    border: 1.5 solid #C9CFD3;
    margin-left: 110px;
    margin-top: 10px;
}

.section-exp {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.explore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-exp {
    margin-top: 30px;
    width: 380px;
    height: 530px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 2px 2px 2px 2px#938e8e;
}

.card-exp img {
    width: 380px;
}

.card-exp h1 {
    color: #ED4A3A;
    font-size: 20px;
}

.retangle {
    margin-top: -6px;
    width: 380px;
    height: 9px;
    background: linear-gradient(-90deg, #EE6112, #FFD15C);
}

.card-exp p,
.card-exp h1 {
    margin-top: 10px;
    margin-left: 20px;
}

.faixa-laranja {
    width: 100%;
    height: 500px;
    background-color: #EE6112;
}

.align-faixa {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.align-faixa h1 {
    color: black;
    font-size: 24px;
}

.align-faixa p {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    color: black;
    font-weight: 500;
    margin-bottom: 10px;
}

.card-one {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px;
    width: 270px;
    height: 380px;
    border-radius: 20px;
    background-color: white;
}

footer {
    width: 100%;
    height: 430px;
    background-color: #413F3D;
    display: flex;
    justify-content: space-around;
  }
  
  footer li {
    color: #bb747d;
    margin: 20px;
    font-family: "Fjord One", serif;
    font-weight: 500;
    font-size: 30px;
  }
  
  hr {
    width: 290px;
    margin-left: 10px;
  }
  
  .tel-footer,
  .whats-footer,
  .insta-footer,
  .local-footer,
  .carta-footer {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: white;
    display: flex;
    padding-top: 19px;
    padding-left: 8px;
    gap: 10px;
  }
  
  .tel-footer img,
  .whats-footer img,
  .insta-footer img,
  .local-footer img,
  .carta-footer img {
    width: 45px;
    display: flex;
    padding-left: 10px;
  }
  
  .tel-footer p,
  .whats-footer p,
  .insta-footer p,
  .local-footer p,
  .carta-footer p {
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: 16px;
    color: white;
    display: flex;
    padding-top: 14px;
    font-weight: 500;
    font-style: normal;
  }
  
  .menu-footer p {
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: 16px;
    color: white;
    padding-top: 24px;
    font-weight: 500;
    font-style: normal;
  }
  
  .menu-footer ul p {
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: 16px;
    color: white;
    padding-top: 24px;
    font-weight: 500;
    font-style: normal;
  }
  
  .location-footer img {
    width: 20%;
    display: flex;
    padding-top: 19px;
    padding-left: 8px;
  }
  
  iframe {
    width: 100%;
    height: 40%;
    box-shadow: 0px 0px 0px 5px #B74201;
  }